nbproject/private/
build/
nbbuild/
nbproject/private/*.*
private.xml
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/private/private.xml
*.properties
