<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrasiPasien</servlet-name>
        <servlet-class>controller.RegistrasiPasien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDpasien</servlet-name>
        <servlet-class>controller.CRUDpasien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AntreanServlet</servlet-name>
        <servlet-class>controller.AntreanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrasiAntrean</servlet-name>
        <servlet-class>controller.RegistrasiAntrean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>controller.api</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDantrian</servlet-name>
        <servlet-class>controller.CRUDantrian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AntreanManager</servlet-name>
        <servlet-class>controller.AntreanManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AntreanInfo</servlet-name>
        <servlet-class>controller.AntreanInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasienManager</servlet-name>
        <servlet-class>controller.PasienManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasienDelete</servlet-name>
        <servlet-class>controller.PasienDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testser</servlet-name>
        <servlet-class>controller.testser</servlet-class>
        <init-param>
            <param-name>d</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DashboardPasienControl</servlet-name>
        <servlet-class>controller.DashboardPasienControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionManager</servlet-name>
        <servlet-class>controller.SessionManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrasiPasien</servlet-name>
        <url-pattern>/RegistrasiPasien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDpasien</servlet-name>
        <url-pattern>/CRUDpasien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AntreanServlet</servlet-name>
        <url-pattern>/AntreanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrasiAntrean</servlet-name>
        <url-pattern>/RegistrasiAntrean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDantrian</servlet-name>
        <url-pattern>/CRUDantrian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AntreanManager</servlet-name>
        <url-pattern>/AntreanManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AntreanInfo</servlet-name>
        <url-pattern>/AntreanInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasienManager</servlet-name>
        <url-pattern>/PasienManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasienDelete</servlet-name>
        <url-pattern>/PasienDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testser</servlet-name>
        <url-pattern>/testser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardPasienControl</servlet-name>
        <url-pattern>/DashboardPasienControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionManager</servlet-name>
        <url-pattern>/SessionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
