<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrasiPasien</servlet-name>
        <servlet-class>controller.RegistrasiPasien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDpasien</servlet-name>
        <servlet-class>controller.CRUDpasien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AntreanServlet</servlet-name>
        <servlet-class>controller.AntreanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrasiAntrean</servlet-name>
        <servlet-class>controller.RegistrasiAntrean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>controller.api</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDantrian</servlet-name>
        <servlet-class>controller.CRUDantrian</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrasiPasien</servlet-name>
        <url-pattern>/RegistrasiPasien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDpasien</servlet-name>
        <url-pattern>/CRUDpasien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AntreanServlet</servlet-name>
        <url-pattern>/AntreanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrasiAntrean</servlet-name>
        <url-pattern>/RegistrasiAntrean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDantrian</servlet-name>
        <url-pattern>/CRUDantrian</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
